exclude: ".venv|__pycache__|tests/dev/|tests/fixtures/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-case-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff
        args:
          - --fix-only
          - --target-version=py39


# Local hook to forbid print statements in Python files (excluding tests)
- repo: local
  hooks:
    - id: forbid-print-statements
      name: Forbid print statements
      entry: grep -nH -E '\bprint\s*\('
      language: system
      types: [python]
      exclude: 'tests/'
      pass_filenames: true
      description: 'Fail if print statements are found in Python files.'



ci:
    autoupdate_schedule: quarterly
    skip: []
    submodules: false
